

.contact-form {
	border-radius: 2px;
	margin: 0 0 .5em;
	padding: 5px 10px 5px 0px;
	position: relative;
	font-size: 14px;
	text-transform: uppercase;
	max-width: 92%;
}

h2 {
	margin-top: 0;
}

#masthead hgroup {
	width: auto;
}

nav.main-navigation {
	width: auto;
}

#page {
	max-width: 600px;
}

.wmk_grid {
	margin-left: -5px;
	overflow: hidden;
}

.wmk_grid ul {
	list-style: none;
	margin: 0;
	position: relative;
}

#small_grid ul li {
	width: 120px;
	padding: 4px;
	list-style: none;
	text-indent: -9999px;
}

#small_grid ul li:hover {
	background: #ececec;
}

.wmk_grid ul li>a .zoomOverlay, .wmk_grid ul li, .w-box-header .dropdown-toggle {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.wmk_grid ul li>a .zoomOverlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4) url('../images/Magnifying-Glass.png') no-repeat center center;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	display: block;
	list-style: none;
}

.wmk_grid ul li>a:hover .zoomOverlay {
	opacity: .9;
}

.wmk_grid ul li {
	background-color: #fff;
	display: none;
	border: 1px solid #ddd;
	z-index: 20;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}

.wmk_grid ul li>a, .wmk_grid ul li>a img {
	display: block;
}

.wmk_grid ul li>a {
	position: relative;
	margin-top: -23px;
}

.wmk_grid ul li>a img {
	width: 100%;
}

#cboxNext, #cboxPrevious {
	border-radius: 0;
}

#cboxNext {
	right: -30px;
}

#cboxPrevious {
	background-position: 6px 0;
	left: -30px;
}

#cboxClose {
	background-position: -50px -1px;
	width: 24px;
	height: 24px;
}

#cboxLoadedContent {
	padding: 2px;
	background: rgba(0,0,0,.5);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	display: none;
}

.sample_link {
	padding: 3px 0px 0px 12px;
	float: left;
	background: url('../images/arrow_down_right.gif') no-repeat 0px -19px;
}

#colophon {
	padding: 0;
	min-height: 100px;
}

#social-icons {
	float: right;
	margin-right: 15px;
	height: 0;
	top: 35px;
	position: relative;
	display: block;
}

#social-icons a {
	opacity: .2;
}

#social-icons a:hover {
	opacity: .8;
}

.accordion-group {
	border: none;
}

.accordion-inner {
	border: none;
	padding: 9px 15px 9px 0px;
}

.accordion-inner img {
	float: left;
}

.accordion-heading .accordion-toggle {
	display: inline;
}

.accordion-inner a {
	float: right;
	background: url('../img/pdf.png') no-repeat 0px 3px;
	padding-left: 20px;
	padding-right: 15px;
	margin-bottom: 5px;
}

.accordion-heading .accordion-toggle {
	padding: 8px 0;
}

.collapse {
	margin-bottom: 10px;
}